.active {
  z-index: 99;
  position: absolute;
  top: 2px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid yellow;

  -webkit-animation: roty 4s linear infinite;
  -moz-animation: roty 4s linear infinite;
  animation: roty 4s linear infinite;
}

.active[data-direction='left'] {
  left: 39px;
}

.active[data-direction='right'] {
  right: 39px;
}

.score {
  z-index: 99;
  position: absolute;
  color: white;
  bottom: 1px;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.score[data-direction='left'] {
  left: 42px;
}

.score[data-direction='right'] {
  right: 42px;
}

@-moz-keyframes roty {
  100% {
    -moz-transform: rotate3d(0, 1, 0, 360deg);
  }
}
@-webkit-keyframes roty {
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
  }
}
@keyframes roty {
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
